input {
    background-color: $white;
    font-family: $poppins;
    border: none;
    padding: 0.25rem 0.5rem;
    &::placeholder {
        color: $sable;
    }
}

@include mobile_view {
    input {
        margin: 1rem 0;
    }
}