//COLORS
$white: #ffffff;

$black: #000000;
$sable: #060606;
$charcoal: #2e1503;

$tangerine: #ffaf6d;
$orange: #ffa500;

//FONT FAMILY
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

//FONT WEIGHT
$fw-regular: 400;
$fw-bold: 700;

//FONT SIZE
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//BREAKPOINTS
$laptop_view: 992px;
$tablet_view: 768px;
$mobile_view: 576px;