.footer {
    background-color: $sable;
    padding: 0 1rem;

    &__copy {
        color: $white;
        font-size: $x-small;
        // display: flex;
        align-self: center;
    }

    &__right2 {
        text-align: right;
        align-self: center;
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

    }

    &__item {
        padding: 1rem;
        list-style: none;
        a {
            align-self: center;
            color: $white;
            font-size: $x-small;
        }
    }

    &__paragraph {
        text-align: left;
        padding: 1rem;
    }

    #menuToggle {
        display: none;
    }
    &__menu-icon {
        display: none;
    }
}



@include mobile_view {
    .footer {
        padding: 1rem;

        &__links {
            justify-content: center;
            flex-direction: column;
        }

        &__right2 {
            text-align: center;
        }

        &__paragraph {
            text-align: center;
            padding: 0.5rem;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto;
        }

        &__item {
            padding: 0;
            justify-content: center;
            display: flex;
        }
    }
}