.navigation {
    background-color: $black;
    &__logo {
        padding: 0.75rem;
        img {
            height: 40px;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
    }

    &__list {
        display: flex;
        flex-direction: row;

    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
        transition: ease 0.25s;
        &:hover {
            background-color: $charcoal;
            transition: ease 0.25s;
        }

        a {
            color: $white;
        }
    }
}
